[submodule "addons.gt/package.el"]
	path = addons.gt/package.el
	url = https://github.com/technomancy/package.el
[submodule "addons.gt/evil"]
	path = addons.gt/evil
	url = https://github.com/emacsmirror/evil.git
[submodule "addons.gt/magit"]
	path = addons.gt/magit
	url = https://github.com/magit/magit.git
