[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "emacs-jabber"]
	path = emacs-jabber
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
[submodule "evil"]
	path = evil
	url = git://gitorious.org/evil/evil.git
[submodule "evil-surround"]
	path = evil-surround
	url = https://github.com/timcharper/evil-surround.git
[submodule "evil-numbers"]
	path = evil-numbers
	url = https://github.com/cofi/evil-numbers.git
[submodule "evil-leader"]
	path = evil-leader
	url = https://github.com/cofi/evil-leader.git
[submodule "evil-rails"]
	path = evil-rails
	url = https://github.com/antono/evil-rails.git
[submodule "evil-nerd-commenter"]
	path = evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter.git
[submodule "color-theme-desert"]
	path = color-theme-desert
	url = https://github.com/superbobry/color-theme-desert.git
[submodule "google-maps"]
	path = google-maps
	url = git://git.naquadah.org/google-maps.git
[submodule "nxhtml"]
	path = nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
[submodule "circe"]
	path = circe
	url = https://github.com/jorgenschaefer/circe.git
[submodule "color-theme-tangotango"]
	path = color-theme-tangotango
	url = https://github.com/juba/color-theme-tangotango.git
