[submodule "addons.gt/package.el"]
	path = addons.gt/package.el
	url = https://github.com/technomancy/package.el
[submodule "addons.gt/evil"]
	path = addons.gt/evil
	url = https://github.com/emacsmirror/evil.git
[submodule "addons.gt/magit"]
	path = addons.gt/magit
	url = https://github.com/magit/magit.git
[submodule "addons.gt/color-theme-tangotango"]
	path = addons.gt/color-theme-tangotango
	url = https://github.com/juba/color-theme-tangotango.git
[submodule "addons.gt/cl-lib"]
	path = addons.gt/cl-lib
	url = https://github.com/emacsmirror/cl-lib.git
[submodule "addons.gt/helm"]
	path = addons.gt/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "addons.gt/org-mode"]
	path = addons.gt/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "addons.gt/mmm"]
	path = addons.gt/mmm
	url = https://github.com/purcell/mmm-mode.git
[submodule "addons.gt/nxhtml"]
	path = addons.gt/nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
[submodule "addons.gt/emms"]
	path = addons.gt/emms
	url = git://git.sv.gnu.org/emms.git
